.dobra-1{
	height:80vh;/*40% do viewporth. Mudar para 80 para ficar responsivo para celular*/
	/*-----------------------------------*/
	background-image: url('../img/clone2.jpg');
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content:center;
}
.dobra-1 p{
	color:#fff;
	width:80vw;/*largura de 80% do viewporth deixa o site responsivo*/
	margin:0 auto;/*o p ali em cima é para tal classe valer apenas para os parágrafos no código html*/
	margin-bottom: 1.5em;
}
.dobra-1 button{
	width:35vw;
	height:10vw;
	font-size:1.5em;
	background-color: rgba(0,0,0,0.767);
	border: 1px solid #fff;
	color:#fff;
	box-shadow: 3px 3px 7px #fff;
}
.bg-dark-dio{
	background-color: black;
}
#fig1,/*estou afetando todos os ids*/
#fig2,
#fig3,
#fig4,
#fig5,
#fig6,
#fig7,
#fig8{

	background-repeat: no-repeat;
	background-size: cover;
	background-position:center;
	border-radius: 2%;
	box-shadow: 3px 3px 3px #000;
}
#fig1,
#fig4, 
#fig7{
	background-image: url('../img/fotoperfil.jpeg');
}
#fig2,
#fig5,
#fig8{
	background-image: url('../img/fotod2.jpg');
}
#fig3,
#fig6{
	background-image: url('../img/galax.jpg');
}
.bg-fig{
	color: rgba(255,255,255,0);
}
.bg-fig:hover{/* hover aciona quando passo o mouse*/
	border-radius: 2%;
	color: rgba(255,255,255,20);
	background-color: rgba(43,60,65,0.308);
	transition: 1.5s;
}
.pla{
	background-color: black;
}
.plat{
	background-color: rgba(0,0,0,0.767);
}
/*@media (max-width: 600px)
{
  .dobra-1 button
   {
    width:65vw;
	height:25vw;
   }
}*/